<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xueersi.parentsmeeting.modules.livevideo">

    <application>
        <activity
            android:name=".activity.LivePlayBackVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.LectureLivePlayBackVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.ExperienceLiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.LiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".activity.TestpayActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".activity.AuditClassLiveActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".activity.LectureLiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <service android:name="ren.yale.android.cachewebviewlib.CachePreLoadService">

        </service>
    </application>

</manifest>
