<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xueersi.parentsmeeting.modules.livevideo">
    <!-- 悬浮窗必加权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".activity.LivePlayBackVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.xueersi.parentsmeeting.modules.livevideo.fragment.LivePlaybackVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:process=":livevideo"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.LiveStandPlayBackVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".activity.LectureLivePlayBackVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".activity.ExperienceLiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:process=":livevideo"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>


        <activity
            android:name=".activity.HalfBodyLiveExperienceActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name=".activity.LiveVideoLoadActivity"
            android:process=":livevideo"
            android:screenOrientation="portrait"
            android:theme="@style/style_live_compat"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.LiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:process=":livevideo"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name="com.xueersi.parentsmeeting.modules.livevideo.fragment.LiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:process=":livevideo"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.xueersi.parentsmeeting.modules.livevideo.fragment.LiveVideoActivityBase"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:process=":livevideo"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.xueersi.parentsmeeting.modules.livevideo.fragment.LecVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:process=":livevideo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.StandLiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.AuditClassLiveActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <!--半身直播家长旁听-->


        <activity
            android:name=".activity.LectureLiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.xueersi.parentsmeeting.modules.livevideo.activity.LivePermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":livevideo"
            android:theme="@style/style_permission_compat" />

        <activity
            android:name="com.xueersi.parentsmeeting.modules.livevideo.activity.DeviceDetectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueersi.parentsmeeting.modules.livevideo.activity.RolePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":livevideo"
            android:screenOrientation="landscape"
            android:theme="@style/style_permission_compat" />

        <activity
            android:name=".activity.PraiseTestActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <service
            android:name="com.xueersi.parentsmeeting.modules.livevideo.service.LiveService"
            android:process=":livedaemon" />
        <receiver
            android:name="com.xueersi.parentsmeeting.modules.livevideo.broadcast.LiveShutdownReceiver"
            android:process=":livedaemon">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <service
            android:name="ren.yale.android.cachewebviewlib.CachePreLoadService"
            android:process=":livevideo" />

        <receiver
            android:name=".fragment.se.OrderPaySuccessBroadCastReceiver"
            android:process=":livevideo">
            <intent-filter>
                <action android:name="${applicationId}.XesPaySuccess" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.StudyCenterMainStartBroadCastReceiver"
            android:process=":livevideo"></receiver>

        <receiver
            android:name=".broadcast.NetWorkChangeBroadCastReceiver"
            android:process=":livevideo">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
